@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
  height: 100vh;
  background-color: #e7e7e7 !important;
}
.bebas {
  font-family: "Bebas Neue", sans-serif;
}

.bg-gradient {
  background-image: linear-gradient(to bottom, #222, #e7e7e7) !important;
}

/* navbar */
.navbar {
  transition: all 0.3s ease-in-out;
}

.active {
  color: #ffc107 !important;
  background-color: #fff !important;
}
.navbar.active a {
  color: #000 !important;
}

.navbar-toggler {
  border: 1px solid #fff !important;
}

.navbar-toggler .navbar-toggler-icon i {
  margin-top: 5px !important;
  color: #fff !important;
}
.navbar-toggler:focus {
  text-decoration: none !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0 !important;
}
.navbar a.current,
.navbar a {
  transition: all 0.2s linear;
}
.navbar a.current,
.navbar a:hover {
  color: #ffc107 !important;
}
.active-a {
  color: #ffc107 !important;
}
/* hero  */

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -2;
}
.hero::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}
.navbar-nav {
  gap: 25px;
  margin-left: 22%;
}
.bg-dark {
  background-color: #222 !important;
}

/* hero-service */

.parallax-slider {
  height: 90vh !important;
}

.parallax-slider .swiper-slide {
  position: relative;
  overflow: hidden;
}

.parallax-slider .img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-position: center;
  background-size: cover;
}

.parallax-slider .img-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: linear-gradient(
    to right,
    rgba(8, 8, 8, 0.9),
    rgba(8, 8, 8, 0.1)
  );
}

.parallax-slider .swiper-slide .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.parallax-slider .content {
  color: #fff;
  position: absolute !important;
  left: 100px;
}

.parallax-slider .content .title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.parallax-slider .content .title .title-wrapper {
  display: inline-flex;
  padding: 0.1rem 2rem;
}

.parallax-slider .content .description {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: 40%;
}

/*nav controls*/

.parallax-slider .swiper-nav-ctrl {
  background-image: none;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 30px;
  outline: 0;
  color: #fff;
}

.parallax-slider .swiper-nav-ctrl.next-ctrl {
  right: 20px;
}

.parallax-slider .swiper-nav-ctrl.prev-ctrl {
  left: 20px;
}

.parallax-slider .pagination-ctrl {
  max-width: calc(100vh - 60px);
  left: 0;
  right: 0;
  margin: auto;
}

.parallax-slider .pagination-ctrl .swiper-pagination-bullet {
  background-color: #fff !important;
}

.parallax-slider .img-container.one {
  background-image: url("https://images.thedirect.com/media/article_full/black-adam-characters-poster.jpg");
}

.parallax-slider .img-container.two {
  background-image: url("https://4kwallpapers.com/images/wallpapers/fast-x-2023-movies-8k-5k-1280x720-11504.jpg");
}

.parallax-slider .img-container.three {
  background-image: url("https://images.thedirect.com/media/article_full/black-panther-wakanda-forever-poster-mcu-marvel.jpg");
}

/* test */
#swiper-cd {
  height: 500px !important;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#poster {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* service */
.service-ghost::before {
  content: "";
  width: calc(100% + 1000px);
  height: calc(100% + 1000px);
  background-image: url("https://e0.pxfuel.com/wallpapers/442/396/desktop-wallpaper-film-posters-collage-movies-resolution.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  filter: blur(10px);
  position: absolute;
  top: -150px;
  left: -100px;
  z-index: -2;
  transform: rotate(10deg);
}
.portfolio-img {
  transition: 0.3s linear;
}
.overview-portfolio {
  opacity: 0;
  transition: 0.3s linear;
  background-color: rgba(34, 34, 34, 0.5);
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
}
.portfolio-img:hover .overview-portfolio {
  opacity: 1;
}

/* movie */

/* btn-movie */
#tag {
  border: 1px solid #000;
  border-radius: 50px;
}
.tag {
  text-decoration: underline;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.tag:hover {
  color: #ffc107 !important;
}
.tag.highlight {
  color: #ffc107 !important;
}

.search {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #222;
  margin: 20px;
}

.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #222;
  padding-right: 40px;
  color: #fff;
  margin-left: 50px;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  left: 60px;
  color: #222 !important;
  background-color: transparent;
  pointer-events: painted;
  margin-top: 4px;
}

.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: #222;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: #222;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.search:focus {
  outline: none !important;
}
.movie {
  border-radius: 5px;
  background-color: #e0e0e0 !important;
  padding: 20px;
}
.movie img {
  width: 100% !important;
  transition: transform 0.3s linear;
}

.movie-info {
  color: #222;
}
.movie-info .action,
.year {
  letter-spacing: 1px;
}
.action {
  color: red;
}
.moive-title {
  color: #000;
  font-weight: 500 !important;
  letter-spacing: 1px;
}
.movie-info span {
  /* background-color: #222 ; */
  /* color: #fff; */
}

.overview {
  background-color: #222;
  color: #fff;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  transition: opacity 0.3s linear;
  opacity: 0;
}
.overview span.green {
  color: lightgreen !important;
}
.overview span.orange {
  color: lightsalmon !important;
}
.overview span.red {
  color: red !important;
}
.movie:hover .overview {
  opacity: 0.9;
}
.movie:hover img {
  transform: scale(1.1);
}

.list-movie {
  font-size: 15px !important;
  font-weight: 500 !important;
  margin-right: 20px;
}
.description-movie {
  font-weight: 300 !important;
  font-size: 15px !important;
}
.overview-des {
  font-size: 15px !important;
  line-height: 15px;
}

/* footer */
.footer-item i {
  margin-right: 20px;
}
.footer-item p {
  transition: all 100ms linear;
}
.footer-item p:hover {
  letter-spacing: 2px;
}
.social-icon i {
  transition: all 100ms linear;
}
.social-icon i:hover {
  transform: scale(1.2);
}
/* media  */
@media (max-width: 576px) {
  .content {
    display: none !important;
  }
}
@media (max-width: 390px) {
  .navbar-nav {
    margin-left: 10px !important;
  }
  .nav-item {
    margin-top: 20px !important;
    margin-left: 0 !important;
  }
  .text-title {
    font-size: 4rem !important;
    margin-top: 80px !important;
  }
  .description-title {
    width: 50% !important;
  }
  .title-movie {
    font-size: 2rem !important;
    text-decoration: none !important;
  }
  .card-col {
    margin-bottom: 20px !important;
  }
  .col-portfolio {
    margin-bottom: 20px !important;
  }
  .overview-portfolio {
    padding: 15px !important;
  }
  .overview-portfolio p {
    font-size: 15px !important;
  }
  .title-booking {
    text-align: center !important;
  }
  .description-book {
    width: 100% !important;
    text-align: center !important;
  }
  .title-footer {
    text-align: center !important;
  }
  .description-footer {
    width: 100% !important;
    text-align: center !important;
  }
  .social-icon {
    text-align: center !important;
    padding: 20px !important;
  }
  footer {
    text-align: center !important;
  }
  /* movie */
  .content {
    display: none !important;
  }
  .tag {
  }
  .btn-search:focus ~ .input-search {
    width: 50px;
  }
  .input-search:focus {
    width: 200px;
  }
  .description-movie {
    font-size: 15px !important;
    line-height: 13px;
  }
  /* contact */
  .description-contact {
    text-align: center !important;
    padding: 50px 50px 0 50px;
  }
}
